*{
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: 'Comfortaa', cursive;
}

/* Navigation Bar CSS */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(18, 18, 62);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0px 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    text-decoration: none;
    color: rgb(153, 153, 226);
}

.left {
    font-size: 1.5rem;
}


/* First Section */

.firstSection input {
    width: 75%;
    height: 20px;
    display: block;
    background-color: rgb(0, 0, 33);
    border: 2px solid rgb(153, 153, 226);
    border-radius: 7px;
    color: rgb(170, 107, 228);
    font-family: 'Comfortaa', cursive;
    padding: 5px;
    margin: 10px 0;
}

.firstSection label{
    display: block;
    font-size: 25px;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    margin: 110px 0px;
}

.firstSection > div {
    width: 30%;
}

.leftSection {
    font-size: 2.3rem;
    margin: 75px 0px;
}

.leftSection .btn {
    padding: 12px;
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: 'Comfortaa', cursive;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    position: relative;
    top: 50px;
}

.leftSection .btn a {
    text-decoration: none;
    color: white;
}

.leftSection .btn:hover {
    background-color: #1e2167;
}

/* .rightSection {
    background-color: red;
} */

.rightSection img {
    width: 80%;
}

.purple-color {
    color: rgb(170, 107, 228);
}

#animation-text {
    color: rgb(170, 107, 228);
}



















/* Footer Page */
.footer > div {
    width: 223px;
}

.footer-down {
    background-color: rgb(18, 18, 62);
    /* height: 240px; */
}

.footer-down {
    display: flex;
    padding: 23px 110px;
    justify-content: space-evenly;
}

.footer-down ul li {
    list-style: none;
    margin: 0px 23px;
}

.footer-down ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.footer-down ul li a {
    text-decoration: none;
    color: white;
}

.footer-text-center-rights {
    text-align: center;
    color: gray;
    padding: 12px 0;
}